.previewGrid {
  grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));
}

.scene {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  aspect-ratio: 4 / 3;
  max-width: 500px;
}

.image {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}
