.header {
  box-sizing: border-box;
  padding: 10px 0px;
  height: var(--top-nav-height);
  background-color: var(--color-panel-solid);
  z-index: 10;
  border-bottom: 1px solid var(--gray-6);

  &.sticky {
    position: sticky;
    top: 0;
  }
}

.link {
  cursor: pointer;
  height: 100%;
}

.logo {
  width: auto;
  height: 100%;
}
